body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.stock-title {
    margin: 0px;
    padding: 0px;
    height: 5em;
    background-color: black;
    text-align: center;
    overflow: auto;
}
.stock-title h1 a {
    text-decoration: none;
    color: white;
}
.stock-sub-title h2 {
    color: green;   
}
.stock-sub-title h2 a {
    text-decoration: none;
}
.stock-sub-title h2 a:hover {
    text-decoration: underline;
}
.pagination {
    text-align: center;
}