{% extends 'base.html' %}
{% load static %}
{% block header %}
<header class="bg-black p-5">
    <div class="container">
        <h1><a href="{% url 'index' %}" class="text-decoration-none text-white">개미 이야기</a></h1>
    </div>
    <nav class="container pt-3">
        <a href="{% url 'stock_list' %}" class="text-decoration-none text-white px-3">텔레그램 실시간 뉴스</a>
        <a href="" class="text-decoration-none text-white px-3">대통령 뉴스룸</a>
        <a href="" class="text-decoration-none text-white px-3">종목 지정 실시간 뉴스</a>
    </nav>
</header>
{% endblock %}
{% block content %}
<div class="container bg-light">
    <h1 class="text-center p-3 fw-bold">텔레그램 실시간 뉴스 정보</h1>
    <button type="button" class="btn btn-info"><a href="?ordering=-date" class="text-decoration-none text-black">내림차순</a></button>
    <button type="button" class="btn btn-info"><a href="?ordering=date" class="text-decoration-none text-black">오름차순</a></button><br>
    {% for stock in stock_list %}
        <a href="{{ stock.url }}" class="text-decoration-none text-black fw-bold fs-3">{{ stock.title }}</a>
        <p class="fs-5">{{ stock.date|date:"Y년 m월 d일 H시 i분"}}</p>
        
    {% endfor %}
</div>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}  <!-- 이전 데이터가 존재하면 -->
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
            {% else %}    <!-- 이전 데이터가 존재하지 않으면 page-item disabled -->
                <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1" aria-disabled="True">Previous</a>  <!-- tabindex 요소가 탭 순서에 있지 않음 -->
                </li>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %} <!-- 내림차순 -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}  <!-- page_obj.number 현재 페이지 Number-->
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ i }}
                            <span class="sr-only"></span>
                        </span>
                    </li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <!-- 위로 다섯 개 아래로 다섯 개 페이지 가져오기-->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}  <!-- page_obj.paginator.num_pages 마지막 페이지 숫자 EX) 19-->
                <li class="page-item">  <!-- 오름차순 -->
                    <a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}